* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  
}


header, .results {
  border: 1px rgba(0, 0, 0, 0.639) solid;
  background-color: rgba(20, 20, 62, 0.156);
}

h1 {
    margin: 3vh 20px;
}
h2 {
    letter-spacing: 1px;
}

form {
  display: grid;
  grid-template-columns: 7fr 10fr;
  grid-gap: 5px;
  margin: 3vh 20px;
  input {
    font-size: 1.5rem;
    padding: 5px;
  }
  button {
    font-size: 1.5rem;
    width: 10rem;
    min-height: 2rem;
    margin-left: 2px;
  }
}

li {
  padding: 5px;
}


.table-header, .table-content {
  display: grid;
  grid-template-columns: 2fr 5fr 10fr;
  grid-gap: 5px;
  // margin: 3vh 20px;
}

.table-header {
  li {
  background-color: rgba(20, 20, 62, 0.843);
  color: white;}
  // padding-left: 15px;
}
.sub-table {
  :nth-child(even) {
    background-color: rgba(20, 20, 62, 0.156);
  }
}
